body {
    box-sizing: border-box;
    margin: 20px;
    font-family: sans-serif;
    background-color: #D5F5E3;
}

.login {
  margin: auto;
  width: 100%;
  padding: 70px 0;
  text-align: center;
}

header {
  display: block;
  background-color: #FCF3CF;
}

form {
  margin: auto;
  padding: 20px;
  width: 33%;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: DodgerBlue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

nav {
    display:block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

table {
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(4) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 10%;
}

th,td {
    padding:20px;
}

td.date, td.text {
    text-align: left;
}

th.money, td.money {
    text-align: right;
}

td.total {
    text-align: right;
    font-size: larger;
    font-weight: bold;
}

th {
    text-align: left;
    font-style: italic;
}
