<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div layout:fragment="contents">
    <section class="myProductList">
        <h1 class="myProductsTitle">Products and Services</h1>

        <a id="add_product" href="/newProduct">Add a product</a>

        <p id="no_products" th:if="${#lists.isEmpty(products)}">You don't have any products!</p>

        <table id="products" th:unless="${#lists.isEmpty(products)}">
            <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="product,index: ${products}">
                <tr>
                    <td class="text">
                        <a th:id="'description_' + ${index.count}"
                           href="#" th:href="@{/product(productId=${product.getId()})}"
                           th:text="${product.description}">Lunch</a>
                    </td>
                    <td th:id="'quantity_' + ${index.count}" class="number" th:text="${product.quantity}">1</td>
                    <td th:id="'price_' + ${index.count}" class="money"
                        th:text="${#numbers.formatDecimal(product.price,1,2,'POINT')}">200.00</td>
                    <td th:id="'score_' + ${index.count}" class="number" th:text="${product.rating}">1</td>
                    <td class="text">
                        <a th:id="'edit_' + ${index.count}"
                           href="#" th:href="@{/changeProduct(productId=${product.getId()})}"
                           th:text="Edit">Edit</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </section>
</div>

</body>

</html>