<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<div layout:fragment="contents">
    <section class="myPurchaseList">
        <h1 class="myPurchasesTitle">My Purchases</h1>

        <p id="no_purchases" th:if="${#lists.isEmpty(purchases)}">You have no purchases!</p>

        <table id="purchases" th:unless="${#lists.isEmpty(purchases)}">
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Total price</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="purchase,index: ${purchases}">
                <tr>
                    <td th:id="'item_' + ${index.count}" class="text" th:text="${purchase.product.description}">Lunch</a>
                    </td>
                    <td th:id="'quantity_' + ${index.count}" class="number" th:text="${purchase.quantity}">1</td>
                    <td th:id="'price_' + ${index.count}" class="money"
                        th:text="${#numbers.formatDecimal(purchase.total_amount,1,2,'POINT')}">200.00</td>
                    <td th:id="'date_' + ${index.count}" class="date" th:text="${purchase.date}">01/01/2021</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </section>
</div>

</body>

</html>